/* Dinosaur World - myStyle.css */

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: #fff2e1;
	font-size: 1.5rem;
}

main{
	width: 70%;
	margin: 50px auto;
}

.container{
	background-color: #52483ed9;
	border: solid 7px #52483e;
	float: left;
	margin-bottom: 50px;
}

section{
	width: 100%;
	float: left;
}

img{
	width: 100%;
}

#accBtn{
	cursor: pointer;
	margin-top: 35px;
}

.panel{
	padding: 0 18px;
	display: none;
	overflow: hidden;
	margin-top: -10px;
	background-color: #fff2e1;
	color: #52483e;
}

a{
	text-decoration: none;
	color: #52483e;
	background: #fff2e1;
	padding: 5px;
}

ul, li{
	padding: 20px;
}

.dino{
	width: 100%;
	float: left;
	border: solid 5px #fff2e1;
	background-color: #52483e59;
}

.dinoBar{
	width: 100%;
	float: left;
	background-color: #fff2e1;
	color: #52483e;
	text-align: center;
	padding: 3px;
}

h3{
	margin: 0;
}

.divText{
	width: 50%;
	float: left;
	padding: 40px;
	text-align: justify;
}

.divImg{
	width: 50%;
	float: left;
}

.question{
	width: 100%;
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 40px;
	border: solid 2px #fff2e1;
		
}

.question>div:nth-child(2){ 
	width: 50%;
	float: left;
	text-align: center;
	
}

.question>div:nth-child(2)>p:nth-child(2), 
.question>div:nth-child(2)>p:nth-child(3){
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 50px;

}

input, select, [type="radio"]{
	font-size: 1.1rem;
	background-color: #fff2e1;
	color: #52483e;
	padding: 2px;
}

.question>div:first-child, .question>div:nth-child(3){
	
	margin: 1px 0;
	width: 25%;
	float: left;
	height: 180px;
	line-height: 180px;
	background-color: #52483e;
}

.question img{
	vertical-align: middle;
}

.question>div:nth-child(4){
	margin-top: -1px;
	width: 100%;
	float: left;
	text-align: center;
	padding: 10px 0;
	background-color: rgba(255, 0, 0, 0.2);
	display: none;
}

.btn{
	background-color: #fff2e1;
	color: #52483e;
	font-size: 1.2rem;
	padding: 10px;
	width: 100px;
	float: left;
	cursor: pointer;
	font-weight: 900;
}

.bg{
	background-color: #52483e;
}